fastapi
uvicorn
python-dotenv
langchain
langchain-community
groq
toolhouse
pydantic
requests
python-multipart
pillow
numpy
pandas
geopy
scikit-learn
llama-cpp-python
transformers
sentence-transformers
torch
accelerate
langchain-groq

astapi
uvicorn
python-dotenv
langchain
langchain-core
langchain-community
llama-cpp-python
pydantic
pydantic-settings
requests
python-multipart
numpy
pandas
accelerate
torch
pydantic-settings